<h1>Homes#show</h1>

 <p><%= link_to '今すぐテニプラを使ってみる!', menus_path, class: 'submit-button' %></p>
<%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: 'custom-link' %>
<%= link_to 'ゲストログイン（管理者用）', users_guest_admin_sign_in_path, method: :post, class: 'custom-link' %>
