/*
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */


.court-container {
  position: relative;
  width: 890px; 
  height: 700px; 
  margin: 0 auto;
}

.court-image {
  margin-right: 50px;
  width: 395px;
  height: 700px;
  float: left;
}

.canvas {
  position: absolute;
  width: 395px; 
  height: 700px; 
  top: 0;
  left: 0;
}

.canvas:nth-of-type(1) {
  top: 100px;
  left: 0;
}

.canvas:nth-of-type(2) {
  top: 0;
  left: 445px; 
}


.marker {
  width: 10px;
  height: 10px;
  background-color: red;
  position: absolute;
}

body {
  background-size: cover;
  margin: 0;
  padding: 0;
}

.detail-container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 30px;
}

.profile-image {
  border-radius: 50%;
}

.actions .btn {
  display: block; /* ボタンをブロック要素として配置 */
  margin-bottom: 10px; /* ボタン間のスペース */
}
