/*
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

 #court-container {
  position: relative; 
  /* position: relative; 
  width: 790px;         2つの画像の幅を合計したサイズ  */
}

.court-image {
  margin-right: 50px;
  width: 395px;
  height: 700px;
  float: left; /* 画像を横に並べる */
} 

.canvas {
  position: absolute;
}

/* 最初のキャンバスの位置 */
.canvas:nth-of-type(1) {
  top: 0;
  left: 0; 
}

/* 2番目のキャンバスの位置 */
.canvas:nth-of-type(2) {
  top: 0;
  left: 445px; /* 最初の画像の幅  */
}


/* .court-image:last-child {
  margin-right: 0;  最後の画像の右側マージンを0に設定 
} */

.marker {
  width: 10px;
  height: 10px;
  background-color: red;
  position: absolute;
}
