header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #16ae32;
  padding: 10px;
  z-index: 100;
  margin-bottom: 10px;
  color: #ffffff;
  height: 60px;
}

header h1 {
  display: inline;
}

header nav {
  display: inline;
  float: right;
}

header nav div {
  display: inline;
}

.content-padding {
  padding-top: 60px; /* ヘッダーの高さに合わせて調整 */
}

nav a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
  transition: background-color 0.3s, color 0.3s; /* 色の遷移も追加 */
}

nav a:hover {
  background-color: #2ebc4f; /* ホバー時の背景色をヘッダーの色より少し明るく */
  color: #ffffff; /* ホバー時の文字色を白に */
  text-decoration: none;
}

.content-wrapper {
  padding-top: 70px; /* ヘッダーの高さ + パディングの値と同じにする */
}

.site-title {
  color: #ffffff; /* ヘッダーの背景色と同じ白色に設定 */
  padding: 10px;
}

.site-title:hover {
  color: #ffffff; /* ホバー時も白色に設定 */
  text-decoration: none;
}