#player-positions-editor {
  position: relative;
  width: 395px;
  height: 700px;
  border: 1px solid #ccc;
}

.player {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #333;
  cursor: move;
}